NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
MONGODB_URI=mongodb://admin:admin123@ac-bmfzsfa-shard-00-00.hhcibrk.mongodb.net:27017,ac-bmfzsfa-shard-00-01.hhcibrk.mongodb.net:27017,ac-bmfzsfa-shard-00-02.hhcibrk.mongodb.net:27017/foodie-express?ssl=true&replicaSet=atlas-cr7m0s-shard-0&authSource=admin&appName=Cluster0
MONGO_USERNAME=admin@shop.com
MONGO_PASSWORD=admin123